@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
:root {
  --Pink: #ff42a5;
  --Lightblue: #4ec5f7;
  --Navyblue: #0b0223;
  --Pink-Hover: ;
  --Lightblue-Hover: ;
}
html {
  scroll-behavior: smooth;
}
.btn {
  padding: 1.3125rem 2.5rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 3rem;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.btn1 {
  background-color: var(--Pink);
}
.btn2 {
  background-color: var(--Lightblue);
}
.btn3 {
  padding: 1.3125rem 2.5rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background: #fff;
  color: var(--Pink);
}
/* *header Section  */
header {
  padding: 37px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Logo-Container {
  display: flex;
  align-items: center;
}
.Logo-Container h1 {
  text-align: center;
  font-family: Work Sans;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-left: 20px;
}
.Logo-Container span {
  background: var(--Pink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Menus ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.Menus li {
  margin-right: 32px;
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}
.Nav-Social {
  display: flex;
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 24px;
}
.Nav-Social p,
a {
  margin-right: 10px;
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.fa-youtube {
  color: red;
}

/* !Banner section  */

main {
  background: url(./images/Group14.png);
  background-repeat: no-repeat;
  padding: 0 240px;
}
.Banner-SubTitle {
  color: var(--Navyblue);
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.Banner-Title {
  font-size: 5.9375rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Banner-Text-Container ul {
  list-style: none;
}
.Banner-Text-Container li {
  color: #534c64;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  margin-bottom: 17px;
}
.Banner-Text-Container i {
  color: var(--Pink);
  margin-right: 10px;
}
.BannerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* !About-us */

.About-us {
  display: flex;
  align-items: center;
  text-align: end;
}
.AboutUS-Text-Container {
  margin-left: 52px;
}
.AboutUS-Title {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.AboutUs-Subtitle {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  width: 32.5rem;
  margin-bottom: 32px;
}
.purpose {
  margin-top: 24px;
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.8125rem;
}
.quote {
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8125rem;
}

/* !PLay game  */

.Play-game {
  margin-top: 120px;
  text-align: center;
}
.Game-Container-Title {
  color: var(--Navyblue);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.Game-Container-Title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.Game-Container-Description {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 48px;
}
.game-Container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
.Game-img-Container {
  position: relative;
  display: inline-block;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.Game-img-Container:hover .image-overlay {
  opacity: 1;
}

.overlay {
  text-align: center;
  color: white;
}
.overlay i {
  font-size: 3rem;
  margin-bottom: 16px;
  color: var(--Pink);
}
.overlay p {
  text-align: center;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.game-description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  width: 21.375rem;
  margin-top: 5px;
  text-align: start;
}

/* !Blog1 */

.Bolg1 {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Bolg1-text-Container {
  max-width: 353px;
  text-align: start;
}
.Blog1-Title {
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  color: var(--Navyblue);
  margin-bottom: 24px;
}
.Blog1-Title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Blog1-Description {
  color: #534c64;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}
.image-container {
  position: relative;
}

.overlay-image {
  position: absolute;
  top: 60%;
  left: -25%;
  z-index: 1;
}

/* !Blog2 */

.Blog2 {
  margin-top: 150px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay-image2 {
  position: absolute;
  top: 60%;
  left: 75%;
  z-index: 1;
}
.Bolg2-text-Container {
  max-width: 353px;
  text-align: end;
}
.Blog1-Title2 {
  font-family: Work Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  color: var(--Navyblue);
  margin-bottom: 24px;
}
.Blog1-Title2 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Blog2-Description {
  color: #534c64;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

/* !Careers */

.Careers {
  background-color: var(--Pink);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Career-Text-COntainer {
  padding: 0 120px;
}
.Careers-Title {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.75rem;
  margin-bottom: 24px;
}
.Careers-Description {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 32px;
}
.inner-text {
  display: flex;
  justify-content: space-between;
}
.inner-text ul {
  list-style: none;
  margin-bottom: 40px;
}
.inner-text li {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.5rem;
}
.inner-text2 {
  text-align: end;
}

/* !btn-section */

.btn-section {
  padding: 0 240px;
  margin: 120px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.centered-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  border: 2px solid rgba(128, 128, 128, 0.508);
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 28px;
  margin-right: 27px;
}
.centered-button img {
  margin-right: 10px;
}
.centered-button span {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.centered-button:hover {
  border: 2px solid #ff42a5;
}
.centered-button span:hover {
  color: var(--Pink);
}

/* !Footer  */

footer {
  background: #0b0223;
  padding: 120px 553px;
}
.Logo-Container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}
.Logo-Container2 h1 {
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-left: 20px;
  color: white;
}
.Logo-Container2 span {
  background: var(--Pink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 56px;
}
footer li {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.footer-icon {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 64px;
}
.footer-icon i {
  margin-right: 40px;
  color: white;
  cursor: pointer;
}
.footer-TC li {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.footer-TC {
  margin-bottom: 8px;
}
footer p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}